<!-- Topbar Start -->
<div class="container-fluid">
    <div class="row bg-secondary py-1 px-xl-5">
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center d-block d-lg-none">
                <a href="" class="btn px-0 ml-2">
                    <i class="fas fa-heart text-dark"></i>
                    <span 
                        class="badge text-dark border border-dark rounded-circle" 
                        style="padding-bottom: 2px;">
                            0
                    </span>
                </a>
                <a href="" class="btn px-0 ml-2">
                    <i class="fas fa-shopping-cart text-dark"></i>
                    <span 
                        class="badge text-dark border border-dark rounded-circle" 
                        style="padding-bottom: 2px;">
                            0
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-4">
            <a href="" class="text-decoration-none">
                <span class="h1 text-uppercase text-primary bg-dark px-2">Big</span>
                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Cart</span>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-left">
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products">
                    <div class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-6 text-right">
            <p class="m-0">Customer Service</p>
            <h5 class="m-0">+91 11111111</h5>
        </div>
    </div>

</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid bg-dark mb-30">
    <div class="row px-xl-5">

        <% if(userType !== "seller" && userType !== "admin") { %>
            <!-- categories -->
            <div class="col-lg-3 d-none d-lg-block">
                <a 
                    class="btn d-flex align-items-center justify-content-between bg-primary w-100" 
                    data-toggle="collapse" 
                    href="#navbar-vertical" 
                    style="height: 65px; padding: 0 30px;"
                    >
                    <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav 
                    class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" 
                    id="navbar-vertical" 
                    style="width: calc(100% - 30px); z-index: 999;"
                    >

                    <!-- category loop -->
                    <div class="navbar-nav w-100">
                        <% for( category of categories ) { %>
                            <form 
                                action="/filterProducts" 
                                method="post">
                                <button 
                                    class="btn nav-item nav-link" 
                                    type="submit">
                                        <%= category.categoryName %>
                                </button>
                                <input 
                                    type="hidden" 
                                    name="<%= category.categoryName %>" 
                                    value="<%= category.id %>"
                                >
                            </form>
                        <% } %>
                    </div>
                    <!-- /category loop -->
                </nav>
            </div>
            <!-- /categories -->
        <% } %>

        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>
                    <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <% if(userType !== "seller" && userType !== "admin") { %>
                            <a href="/" class="nav-item nav-link">Home</a>
                            <a href="/showProducts" class="nav-item nav-link">Shop</a>
                        <% } %>
                        <% if(userType === "seller") { %>
                            <a href="/seller/" class="nav-item nav-link">Dashboard</a>
                        <% } %>

                        <a href="/contact" class="nav-item nav-link">Contact</a>

                        <% if( user ) { %>

                            <div class="nav-item dropdown">
                                <a 
                                    href="#" 
                                    class="nav-link dropdown-toggle" 
                                    data-toggle="dropdown">
                                        Pages <i class="fa fa-angle-down mt-1"></i>
                                </a>
                                <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                    <% if( userType === "seller" ) { %>
                                        <a 
                                            href="/seller/showMyProducts" 
                                            class="dropdown-item">
                                                My Products
                                        </a>

                                        <a 
                                            href="/seller/addProduct" 
                                            class="dropdown-item">
                                                Add Product
                                        </a>
                                    <% } else { %>
                                        <a 
                                            href="/user/cart" 
                                            class="dropdown-item">
                                                Shopping Cart
                                        </a>
                                        <a 
                                            href="/user/checkout" 
                                            class="dropdown-item">
                                                Checkout
                                        </a>
                                    <% } %>
                                    
                                </div>
                            </div>

                            <% if( userType === 'seller' ) { %>
                                <a href="/seller/myAccount" class="nav-item nav-link">My Account</a>
                            <% } else { %>
                                <a href="/user/myAccount" class="nav-item nav-link">My Account</a>
                            <% } %>

                        <%} else { %>

                            <div class="nav-item dropdown">
                                <a 
                                    href="#" 
                                    class="nav-link dropdown-toggle" 
                                    data-toggle="dropdown">
                                        Authenticate 
                                        <i class="fa fa-angle-down mt-1"></i>
                                </a>
                                <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                    <a href="/user/login" class="dropdown-item">Login</a>
                                    <a href="/user/signup" class="dropdown-item">Signup</a>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    
                    <% if( user ) { %>
                        <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                            <% if(userType === 'seller') { %>
                                <a href="/seller/logout" class="btn text-white px-0 ml-3">
                                    Logout
                                </a>
                            <% } else { %>
                                <a 
                                    href="/user/cart" 
                                    class="btn px-0">
                                    <i class="fas fa-heart text-primary"></i>
                                    <span 
                                        class="badge text-secondary border border-secondary rounded-circle" 
                                        style="padding-bottom: 2px;"
                                        >0
                                    </span>
                                </a>
                                <a href="/user/wishlist" class="btn px-0 ml-3">
                                    <i class="fas fa-shopping-cart text-primary"></i>
                                    <span 
                                        class="badge text-secondary border border-secondary rounded-circle" 
                                        style="padding-bottom: 2px;"
                                        >0
                                    </span>
                                </a>
                                <a href="/user/logout" class="btn text-white px-0 ml-3">
                                    Logout
                                </a>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar End -->