<%- include( "../includes/head.ejs" ) %>
<body>
    <!-- header -->
    <%- include( "../includes/navigation.ejs" ) %>
    <!-- /header -->


                
    <!-- addproduct -->
    <div class="container-fluid pt-5">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
            <span class="bg-secondary pr-3">
                Add Product
            </span>
        </h2>
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-12 col-md-12 col-sm-12 pb-1">
                <form 
                    action="/seller/saveNewProduct" 
                    method="POST"
                    enctype="multipart/form-data"
                    >
                    <div class="form-row">

                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Product Title</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="inputEmail4" 
                            name="title"
                            placeholder="product name"
                            required
                            >
                      </div>

                      <div class="form-group col-md-6">
                        <label for="inputState">Category</label>
                        <select id="inputState" name="category" class="form-control" required>
                          <option selected>Men dress</option>
                          <option>Women dress</option>
                          <option>Kids dress</option>
                          <option>Electronics</option>
                          <option>Mobiles</option>
                          <option>Vegitables</option>
                        </select>
                      </div>

                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <textarea 
                            class="form-control" 
                            id="exampleFormControlTextarea1" 
                            rows="3"
                            name="description"
                            required
                            >
                        </textarea>
                    </div>

                    <div class="form-row">
                      <!-- <div class="form-group col-md-6">
                        <label for="inputCity">Price</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="inputCity"
                            required
                            >
                      </div> -->
                      
                      <div class="form-group col-md-2">
                        <label for="inputZip">Quantity</label>
                        <input 
                            type="number" 
                            class="form-control" 
                            id="inputZip"
                            name="quantity"
                            required
                            >
                      </div>

                      <div class="form-group col-md-2">
                        <label for="inputZip">Price</label>
                        <input 
                            type="number" 
                            class="form-control" 
                            id="inputZip"
                            name="price"
                            required
                            >
                      </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            <label for="image">Chooe an Image</label>
                            <input 
                                type="file" 
                                name="image" 
                                class="form-control-file" 
                                id="exampleFormControlFile1"
                                required
                                >
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Add</button>
                  </form>
            </div>
        </div>
    </div>
    <!-- /add product -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <%- include( "../includes/footer.ejs" ) %>
    
<%- include( "../includes/end.ejs" )%>