<%- include( "../includes/head.ejs" ) %>
<%- include( "../includes/navigation.ejs" ) %>
<div id="login">
    <div class="container">
        <div 
            id="login-row" 
            class="row justify-content-center align-items-center"
            >
            <div 
                id="login-column" 
                class="col-md-6">
                    <div 
                        id="login-box" 
                        class="col-md-12">
                            <form 
                                id="login-form" 
                                class="form" 
                                action="/user/postSignup" 
                                method="post">
                                <h3 class="text-center text-warning">
                                    Signup
                                </h3>

                                <div class="form-group">
                                    <label 
                                        for="name" 
                                        class="text-dark">
                                            Name:
                                    </label>
                                    <br>
                                    <input 
                                        type="name" 
                                        name="name" 
                                        id="name" 
                                        class="form-control"
                                        required
                                    >
                                </div>

                                <div class="form-group">
                                    <label 
                                        for="email" 
                                        class="text-dark">
                                            Email:
                                    </label>
                                    <br>
                                    <input 
                                        type="email" 
                                        name="email" 
                                        id="email" 
                                        class="form-control"
                                        required
                                    >
                                </div>

                                <div class="form-group">
                                    <label 
                                        for="phone" 
                                        class="text-dark">
                                            Phone number:
                                    </label>
                                    <br>
                                    <input 
                                        type="text" 
                                        name="phone" 
                                        id="phone" 
                                        class="form-control"
                                        required
                                    >
                                </div>

                                <div class="form-group">
                                    <label 
                                        for="password" 
                                        class="text-dark">
                                            Password:
                                    </label>
                                    <br>
                                    <input 
                                        type="password" 
                                        name="password" 
                                        id="password" 
                                        class="form-control"
                                        required
                                    >
                                </div>

                                <% if( errorMessage ) { %>
                                    <div class="alert alert-danger" role="alert">
                                        <%= errorMessage %>
                                    </div>
                                <% } %>
                                
                                <div class="form-group">
                                    <input 
                                        type="submit" 
                                        name="submit" 
                                        class="btn btn-warning btn-md" 
                                        value="submit"
                                    >
                                </div>
                                
                                <div 
                                    id="register-link" 
                                    class="text-right"
                                    >
                                    <a 
                                        href="/user/login" 
                                        class="text-dark">
                                            Login
                                    </a>
                                </div>
                            </form>
                    </div>
            </div>
        </div>
    </div>
</div>

<%- include( "../includes/end.ejs" )%>